---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.jsx";
import InstructionsSection from "../components/InstructionsSection.jsx";
---

<Layout>
  <main class="min-h-screen">
    <Hero client:load />
    <InstructionsSection client:load />
  </main>
</Layout>
